/*import other files to use*/
@import 'config';


.square{
    width: 200px;
    height:200px;
    border-style: solid;
    border-color: $fifth-color;
}

.grid{
    /*make the content stack on top of each other and be in a grid*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.game-text{
float: $content-setting-3;
}

.game-title{
    text-align: $content-setting-1;
    color:$primary-color;
}

.mole{
    background-image: url('images/mole.jpg');
    background-size: cover;
}

.my-mole{
    height: 100px;
    width: 100px;
}